<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NUSGrabberGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NUSGrabberGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <NUSGrabberGUI.Properties.Settings>
            <setting name="CommonKeyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Region" serializeAs="String">
                <value>USA</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideNUS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDecrypt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadTitles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseEmbedNUS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ArchivedDatabase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleanup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOrigNUS" serializeAs="String">
                <value>False</value>
            </setting>
        </NUSGrabberGUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <NUSGrabberGUI.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="VersionType" serializeAs="String">
                <value>beta</value>
            </setting>
        </NUSGrabberGUI.Properties.Settings>
    </applicationSettings>
</configuration>
